input[type=range] {
	height: 0.5em;
	margin: 0.75em 0;
	border-radius: 0.25em;
}

input[type=range]:enabled {
	cursor: pointer;
}

input[type=range]:disabled {
	cursor: default;
}

input[type=range]::-webkit-slider-thumb {
	appearance: none; /* Chrome, Edge, Opera, Safari macOS */
	width: 1em; /* Chrome, Edge, Opera, Safari macOS/iOS/iPadOS */
	height: 1em; /* Chrome, Edge, Opera, Safari macOS/iOS/iPadOS */
	border-radius: 50%; /* Chrome, Edge, Opera, Safari macOS/iOS/iPadOS */
}

/* Chrome, Edge, Opera, Safari macOS/iOS/iPadOS */
input[type=range]:enabled::-webkit-slider-thumb {
	background-color: var(--accent-color);
}

/* Chrome, Edge, Opera, Safari macOS/iOS/iPadOS */
input[type=range]:disabled::-webkit-slider-thumb {
	background-color: var(--form-read-only-color);
}

/* Firefox */
input[type=range]::-moz-range-thumb {
	border: none;
}

/* Firefox */
input[type=range]:enabled::-moz-range-thumb {
	background-color: var(--accent-color);
}

/* Firefox */
input[type=range]:disabled::-moz-range-thumb {
	background-color: var(--form-read-only-color);
}
