input[type=color] {
	--size: 1em;

	width: var(--size);
	height: var(--size);
	margin: calc((var(--vertical-padding) + 1em * var(--line-height) + var(--vertical-padding) - var(--size)) / 2) 0;
	padding: 0;
}

input[type=color]:enabled {
	cursor: pointer;
}

input[type=color]:disabled {
	cursor: default;
}

/* Chromium, Safari macOS/iPadOS/iOS */
input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
}

/* Chromium */
input[type=color]::-webkit-color-swatch {
	border: none;
}

/* Firefox */
input[type=color]::-moz-color-swatch {
	border: none;
}
