input[type=checkbox] {
	--size: 1em;

	vertical-align: middle;
	position: relative;
	width: var(--size);
	height: var(--size);
	margin: calc((var(--vertical-padding) + 1em * var(--line-height) + var(--vertical-padding) - var(--size)) / 2) 0;
}

input[type=checkbox]:enabled {
	cursor: pointer;
}

input[type=checkbox]:disabled {
	cursor: default;
}

input[type=checkbox]:checked::after {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	border-radius: var(--border-radius);
	content: '';
}

input[type=checkbox]:checked:enabled::after {
	background-color: var(--accent-color);
}

input[type=checkbox]:checked:disabled::after {
	background-color: var(--form-read-only-color);
}
