input[type=date],
input[type=datetime-local],
input[type=time] {
	cursor: text;
	vertical-align: top;
	height: calc(var(--line-height) * 1em + var(--vertical-padding) * 2);
}

input::-webkit-datetime-edit, /* Safari macOS */
input::-webkit-datetime-edit-fields-wrapper,
input::-webkit-datetime-edit-year-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-ampm-field,
input::-webkit-datetime-edit-hour-field,
input::-webkit-datetime-edit-minute-field {
	padding: 0;
}

input::-webkit-calendar-picker-indicator {
	width: 1.05em; /* Edge */
	height: 1.05em; /* Edge */
	padding: 0;
	cursor: pointer;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
	background-image: url(../images/calendar.svg);
}

input[type=time]::-webkit-calendar-picker-indicator {
	background-image: url(../images/clock.svg);
}

input::-webkit-date-and-time-value {
	text-align: left;
}
