input {
	appearance: none; /* Safari iOS/iPadOS */
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--form-background-color);
	padding: var(--padding);
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input:read-write {
	color: var(--form-foreground-color);
}

input:read-only {
	color: var(--form-read-only-color);
	cursor: text; /* Safari macOS */
}

input:focus {
	outline: none;
	box-shadow: inset 0 0 0.125em var(--accent-color);
}
