input[type=search]::-webkit-search-cancel-button {
	appearance: none;
	align-self: center;
	width: 0.75em;
	height: 0.75em;
	margin: 0 0.125em 0 0.5em;
	background-image: url(../images/search-cancel-button.svg);
	cursor: pointer;
	display: none;
}

input[type=search]:read-write:hover::-webkit-search-cancel-button {
	display: block;
}
