input:is([type=datetime-local], [type=date], [type=time]) {
	cursor: text;
	vertical-align: top; /* Safari iPadOS/iOS */
	height: calc(var(--vertical-padding) + 1em * var(--line-height) + var(--vertical-padding)); /* Safari iPadOS/iOS */
}

input:is([type=datetime-local], [type=date], [type=time])::-webkit-datetime-edit, /* Safari macOS */
input:is([type=datetime-local], [type=date], [type=time])::-webkit-datetime-edit-fields-wrapper, /* Chromium */
input:is([type=datetime-local], [type=date])::-webkit-datetime-edit-year-field, /* Chromium, Safari macOS */
input:is([type=datetime-local], [type=date])::-webkit-datetime-edit-month-field, /* Chromium, Safari macOS */
input:is([type=datetime-local], [type=date])::-webkit-datetime-edit-day-field, /* Chromium, Safari macOS */
input:is([type=datetime-local], [type=time])::-webkit-datetime-edit-hour-field, /* Chromium, Safari macOS */
input:is([type=datetime-local], [type=time])::-webkit-datetime-edit-minute-field, /* Chromium, Safari macOS */
input:is([type=datetime-local], [type=time])::-webkit-datetime-edit-ampm-field, /* Chromium */
input:is([type=datetime-local], [type=time])::-webkit-datetime-edit-meridiem-field /* Safari macOS */ {
	padding: 0;
}

/* Safari macOS */
input:is([type=datetime-local], [type=date], [type=time])::-webkit-datetime-edit-text {
	margin: 0;
}

/* Safari iPadOS/iOS */
input:is([type=datetime-local], [type=date], [type=time])::-webkit-date-and-time-value {
	text-align: left;
}

/* Chromium */
input:is([type=datetime-local], [type=date], [type=time])::-webkit-calendar-picker-indicator {
	width: 1em;
	height: 1em;
	margin: 0 0 0 var(--horizontal-padding);
	padding: 0;
	cursor: pointer;

	background-position: center;
	background-repeat: no-repeat;
	background-size: var(--icon-size);
}

/* Chromium */
input:is([type=datetime-local], [type=date])::-webkit-calendar-picker-indicator {
	background-image: url(../images/calendar.svg);
}

/* Chromium */
input[type=time]::-webkit-calendar-picker-indicator {
	background-image: url(../images/clock.svg);
}

input:is([type=datetime-local], [type=date], [type=time]):focus-within, /* Safari macOS/iPadOS/iOS */
input:is([type=datetime-local], [type=date], [type=time])::-webkit-calendar-picker-indicator:focus-within { /* Chromium */
	outline: var(--outline);
	outline-offset: var(--outline-offset);
}
