input[type=file]:enabled {
	color: var(--form-foreground-color);
	cursor: pointer;
}

input[type=file]:disabled {
	cursor: default;
}

input[type=file]::file-selector-button {
	visibility: hidden; /* Firefox */
	width: 0;
	margin: 0; /* Chromium, Firefox */
	border: none;
	padding: 0;
}
