input::-webkit-datetime-edit,
input::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}

input::-webkit-datetime-edit-year-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-ampm-field,
input::-webkit-datetime-edit-hour-field,
input::-webkit-datetime-edit-minute-field {
	padding-top: 0;
	padding-bottom: 0;
}

input::-webkit-calendar-picker-indicator {
	width: 1em;
	height: 1em;
	margin: 0 0 0 0.5em;
	padding: 0;
	cursor: pointer;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
	background-image: url(../images/calendar.svg);
}

input[type=time]::-webkit-calendar-picker-indicator {
	background-image: url(../images/clock.svg);
}
