select {
	appearance: none;
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--form-background-color);
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

select:enabled {
	background-image: url(../images/select.svg);
	background-position: right var(--horizontal-padding) center;
	background-repeat: no-repeat;
	background-size: 1.05em;
	padding: var(--vertical-padding) calc(2 * var(--horizontal-padding) + 1.05em) var(--vertical-padding) var(--horizontal-padding);
	color: var(--form-foreground-color);
	cursor: pointer;
}

select:disabled {
	padding: var(--padding);
	color: var(--form-read-only-color);
	opacity: 1;
}
