textarea {
	vertical-align: top;
	margin: 0; /* Firefox */
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--form-background-color);
	padding: var(--padding);
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	resize: none;
}

textarea:read-write {
	color: var(--form-foreground-color);
}

textarea:read-only {
	color: var(--form-read-only-color);
	cursor: text; /* Safari macOS */
}
