.demo {
	body {
		margin: 0 auto;
		padding: 2em 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h1 {
		font-size: 1.5rem;
		margin: 0;
	}

	h2 {
		font-size: 1.25rem;
		margin: 2rem 0 0;
	}

	.margin-top-1 {
		margin-top: 1em;
	}

	.form-grid {
		grid-template-columns: max-content 1fr 1fr;
		gap: 0.5em;
	}

	.form-grid .header {
		border-bottom: none;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.form-grid .header:first-child {
		padding: var(--vertical-padding) 0;
	}

	.form-grid .line {
		grid-column: 1 / -1;
		height: 0.0625em;
		background-color: var(--middleground-color);
	}

	label:not(.inline, .block),
	.label {
		padding: var(--vertical-padding) 0;
	}

	input:not([type=checkbox], [type=radio], [type=color]),
	textarea,
	select {
		width: 100%;
	}

	input[type=datetime-local],
	input[type=date] {
		white-space: nowrap;
	}

	.buttons {
		display: flex;
		flex-direction: column;
		gap: var(--horizontal-padding);
		align-items: flex-start;
	}

	.grid-grid {
		grid-template-columns: repeat(3, auto);
	}

	@media (width >= 576px) {
		input:not([type=checkbox], [type=radio], [type=color]),
		textarea,
		select {
			width: 12em;
		}

		.buttons {
			flex-direction: row;
		}
	}
}
