body {
	margin: 0;
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: Roboto, sans-serif;
	line-height: var(--line-height);

	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

:focus-visible {
	outline: var(--outline);
	outline-offset: var(--outline-offset);
}
