:root {
	color-scheme: dark;

	--line-height: 1.5;
	--border-radius: 0.125em;
	--vertical-padding: 0.25em;
	--horizontal-padding: 0.5em;
	--padding: var(--vertical-padding) var(--horizontal-padding);

	--background-color: #222222;
	--middleground-color: #898989;
	--foreground-color: #f0f0f0;
	--accent-color: #6366f1;

	--form-background-color: #313131;
	--form-read-only-color: #989898;
	--form-foreground-color: #ffffff;
	--form-accent-color: #4f46e5; /* images/(calendar|clock|select).svg */
}
