:root {
	color-scheme: dark;

	--outline: 0.0625em solid var(--accent-color);
	--outline-offset: 0.0625em;

	--border-radius: 0.125em;

	--vertical-padding: 0.25em;
	--horizontal-padding: 0.5em;
	--padding: var(--vertical-padding) var(--horizontal-padding);

	--line-height: 1.5;

	--background-color: #222222;
	--middleground-color: #898989;
	--foreground-color: #f0f0f0;
	--accent-color: #6366f1; /* images/(calendar|chevron-down|clock|xmark).svg */

	--form-background-color: #313131;
	--form-read-only-color: #989898;
	--form-foreground-color: #ffffff;

	--icon-size: 1.25em;
}
