:root {
	--background-color: #222222;
	--foreground-color: #dddddd;
	--accent-color: #6366f1;

	--form-background-color: #333333;
	--form-read-only-color: #909090;
	--form-foreground-color: #eeeeee;
	--form-accent-color: #4f46e5;
}
